*{
    margin: 0;
    padding: 0;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #009B77;
}
.container{
    background-color: white;
    padding: 2rem;
    border-radius: 2rem;
    min-height: 45vh;
    width: 40vh;
}

form{
    margin: 2rem 0 1rem;
}
form select,button,input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;

}
form input{
    border: 1px solid black;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;



}
.dropdown i{
    font-size: 1rem;
    margin-top: 1rem;
    
}
.select-container img{
    max-width: 2rem;
}
.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid black;

}
.select-container select{
font-size: 1rem;
width: auto;
}

.msg{
    margin: 2rem 0 2rem 0;

}
form button{
    height: 3rem;
    background-color: #FBE580;
    color: #980404;
    font-size: 1.10rem;
    cursor: pointer;

}